@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.header_wrap{
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    position: fixed;
    background-color: #000;
}

.header_container{
    padding: 0 100px;
    transition: all .3s;
    transform: translateX(0vw);
}

.header-inner{
    display: flex;
    justify-content: space-between;
}

.logo>a{
    height: 80px;
    line-height: 80px;
}

.top-navbar{
    display: flex;
}

.tnb_list{
    margin-left: 85px;
}

.tnb_list>a, .logo>a{
    color: gray;
    letter-spacing: -1px;
    height: 80px;
    line-height: 80px;
    transition: all .2s;
}

.tnb_list>a{
    font-size: 22px;
}

.logo>a{
    font-size: 30px;
}

.tnb_list>a:hover, .logo>a:hover {
    animation: pulsate-white 1.5s infinite alternate;
    color: #fff;
}

#utilBox{
    width: 100%;
    height: 38px;
    z-index: 500;
    margin-top: 80px;
    position: relative;
    background-color: #333;
}

.utilBox-inner{
    padding: 0 100px;
}

.util_menu{
    display: flex;
    float: right;
}

.util_menu ul{
    display: flex;
}

.util_menu li{
    margin-left: 85px;
}

.util_menu li>a{
    color: gray;
    font-size: 14px;
    letter-spacing: -1px;
    height: 38px;
    line-height: 38px;
    transition: all .2s;
}

.util_menu li>a:hover{
    animation: pulsate-white 1.5s infinite alternate;
    color: #fff;
}

#right-navbar{
    top: 0;
    right: -350px;
    z-index: 5000;
    position: fixed;
    max-width: 290px;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color:#333;
    transition: right .3s ease;
}

.right-navbar-on #right-navbar{
    right: 0;
}

.right-navbar-on .header_container{
    transition: all .3s;
    transform: translateX(-35vw);
}

.quick-menu{
    padding-top: 50px;
}

.quick-menu>ul{
    display: flex;
    justify-content: center;
}

.quick-menu li>a{
    font-size: 16px;
    letter-spacing: -0.8px;
    color: gray;
}

.bar{
    width: 1px;
    height: 16px;
    background: gray;
    margin: 0 20px;
}

.side-menu{
    width: 100%;
    padding-top: 20px;
}

.inquiry>a{
    text-align: center;
    display: block;
    background: lightgray;
    color: gray;
    font-weight: bold;
    height: 4em;
    line-height: 4em;
    border-radius: 3px;
    margin-top: 10px;
}

.sm_list{
    border-bottom: 1px solid gray;
    margin-top: 60px;
}

.sm_list a{
    display: block;
    color: gray;
    font-size: 15px;
    line-height: 3.8em;
    padding: 0 1em;
    border-top: 1px solid gray;
}

@media screen and (max-width: 1000px){
.header_wrap{
    height: 60px;
}
.header_container{
    padding: 0 20px;
}

.header-inner{
    justify-content: center;
}
.logo>a{
    height: 60px;
    line-height: 60px;
    font-size: 22px;
}

.top-navbar{
    display: none;
}
    
#utilBox{
    display: none;
}

#navicon {
    position: fixed;
    top: 0px;
    z-index: 10000;
    right: 15px;
    padding-top: 10px;
    width: 75px;
    height: 50px;
    transition: all .3s ease-out;
    cursor: pointer;
    display: block;
}
    
#navicon .navicon_line {
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: gray;
    transition: all .6s ease-out;
}
    
#navicon .nl1 {
    top: 11px;
    right: 10px;
    width: 30px;
}
    
#navicon .nl2 {
    top: 19px;
    right: 10px;
    width: 24px;
}
    
#navicon .nl3 {
    top: 27px;
    right: 10px;
    width: 30px;
}
    
#navicon.navicon-on>div>div {
    transform: rotate(225deg);
    width: 25px;
    position: absolute;
    top: 15px;
    right: 10px;
    margin: 0;
    padding: 0;
    background-color: #5d5d5d;
}
#navicon.navicon-on>div>div:first-child {
    transform: rotate(135deg);
}
}

@keyframes pulsate-white{
    100% { 
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 
    0 0 40px #fff, 0 0 80px #fff, 0 0 90px #fff, none, 0 0 150px #fff; 
    } 

    0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 
    0 0 38px #fff, 0 0 73px #fff, 0 0 80px #fff, 0 0 94px #fff, 0 0 140px #fff; 
    }
}

.coin-container .afcoin {
    position: relative;

    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 50%;

    margin: 0 auto;
    margin-top: 300px;
}

.coin-container .coin {
    position: relative;

    width: 70px;
    height: 70px;
    background-color: yellow;
    border-radius: 50%;

    margin: 0 auto;
    margin-top: 300px;
}
.coin-container .coin {
	animation: jumpCoin 0.8s linear infinite alternate;
}

@keyframes jumpCoin {
	50% { 
		transform: translateY(-200px) rotateY(180deg); 
		
	}
	100% { 
		transform: translateY(-200px) rotateY(360deg); 
	}
}
/* 동전 던지기 */
.input{
    margin-top: 20px;
    text-align: center;
}
.btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-top: 20px;
}
.btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
    
}
.btn:active {
	position:relative;
	top:1px;
}


.yes {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}#right-navbar{
    top: 0;
    right: -350px;
    z-index: 5000;
    position: fixed;
    max-width: 290px;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #222;
    transition: right .3s ease;
}
.right-navbar-on #right-navbar{
    right: 0;
}
.right-navbar-on .header_container{
    transition: all .3s;
    transform: translateX(-36vw);
}
.quick-menu{
    padding-top: 50px;
}
.quick-menu>ul{
    display: flex;
    justify-content: center;
}
.quick-menu li>a{
    font-size: 16px;
    letter-spacing: -0.8px;
    color: gray;
}
.bar{
    width: 1px;
    height: 16px;
    background: gray;
    margin: 0 20px;
}
.side-menu{
    width: 100%;
    padding-top: 20px;
}
.inquiry>a{
    text-align: center;
    display: block;
    background: lightgray;
    color: gray;
    font-weight: bold;
    height: 4em;
    line-height: 4em;
    border-radius: 3px;
    margin-top: 10px;
}

.sm_list{
    border-bottom: 1px solid gray;
    margin-top: 60px;
}

.sm_list a{
    display: block;
    color: gray;
    font-size: 15px;
    line-height: 3.8em;
    padding: 0 1em;
    border-top: 1px solid gray;
}
.result{
    cursor: pointer;
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
    animation: pulsate-mint 1.5s infinite alternate;
    color: #fff;
}
.result:hover{
    transition: 1s;
    color: #FFD1B7;
}
@keyframes pulsate-mint{
    100% { 
        text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 
        0 0 40px #F78D3F, 0 0 80px #F78D3F, 0 0 90px #F78D3F, 0 0 100px #F78D3F,0 0 150px #F78D3F; 
    } 

    0% {
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 
        0 0 38px #F78D3F, 0 0 73px #F78D3F, 0 0 80px #F78D3F, 0 0 94px #F78D3F, 0 0 140px #F78D3F; 
    }
}